@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.h2-header{
  padding-top: 80px;
  text-align: center;
  color:#003399;
  font-size: 1.5rem;
}
#light-text{
  font-size: 0.3rem !important;
  font-weight: 100;
}

.index-logo{
  margin: auto;
  width: 200px;
}
.small-text{
  font-size:13px;
}
#compose-message{
  /* padding-top:5px; */
  height: 50vh;
  width: 100vw;
  
}
#compose-form input[type='text'],
textarea{
  padding: 10px;
  margin: 10px;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
}
#compose-form input[type='submit']{
  padding: 10px;
  margin: 10px;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  background-color: gray;
  color: white;
}


/* INBOX TABLE */
tr:hover {
  background-color: #f5f5f5;
}
th {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}
td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
}
#rec-del{
  background-color: gray;
  width: 100vw;
  height: 25px;
  padding: 4px;
  color: white;
  display: none;
}
#add-group{
  background-color: red;
  width: 100vw;
  height: 25px;
  padding: 4px;
  color: white;
}
.sidenav {
  display: none;
}
.sidenav a {
display: none;
}

.sidenav a:hover {
color: #f1f1f1;
}

.sidenav .closebtn {
display: none;
}
#menu{
  display: none;
}

.flag {
  background-color: red;
  color: white;
  border-radius: 40%;
  padding: 5px;
  font-size: 14px;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* HEADER STYLE */
  header{
    height: 40px;
    background-color: #ddd;
    padding: 10px 40px 15px 40px;
    text-align: left;
  }
  .header-left{
    float: left;
  }
  .header-right{
    float: right;
    cursor: pointer;
    padding: 0px 10px 5px 10px;
  }
  .header-right:hover{
    background-color: #f0f0f0;
  }

  .profile-pic{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    float: left;
  }
  .profile-name{
   padding: 12px 10px 14px 0px;
   float: left;

  }

  #labeltext{
    color: red;
    visibility: hidden;
  }

  #profile-menu{
    /* background-color: rosybrown; */
    width: 165px;
    height: 80px;
    cursor: pointer;
    position: fixed;
    top: 60px;
    right: 40px;
    color: #fff;
    display: none;
  }
 
  #profile-menu ul li{
    text-decoration: none;
    list-style: none;
    color: #fff;
    background-color: #003399;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    
  }
  #profile-menu ul li:hover{
    text-decoration: none;
    list-style: none;
    background-color:#f9f9f9;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    transition-property: background-color;
    transition-duration: 0.55s;
    color: #003399;
    /* transition-delay: 0.95s; */
    }
  
  #profile-menu ul li a{
    text-decoration: none;
    color:#fff;
  }

  footer{
    background-color: beige;
    float: left;
  }
  /* section{
    padding-top: 30px;
  } */

   /* INDEX/ LOGIN PAGE */
   .index-page {
    height: 100vh;
    width: 100vw;
    clear: both;
    background-image: url('../img/bg-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
  }

  .index-login-form{
    width: 100vw;
  }


  #login-form{
    padding-top:10px;
    margin: auto;
    height: 400px;
    width: 400px;
    
  }
  #login-form >
  input[type='email'],
  input[type='password']{
    padding: 10px;
    margin: 10px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  #login-form > input[type='submit']{
    padding: 10px;
    margin: 10px;
    width: 105%;
    background-color: #99cc33;
    color: white;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 0.14s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #login-form > input[type='submit']:hover{
    padding: 10px;
    margin: 10px;
    width: 105%;
    background-color: #003399;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 0.14s;
  }

  /* SIGN UP PAGE  */
  .sign-up-page{
    width: 100vw;
    float: left;
  }

  #sign-up-form{
      padding-top:10px;
      margin: auto;
      height: 400px;
      width: 400px;
  }
  #sign-up-form >
  input[type='email'],
  input[type='password'],
  input[type='text'],
  button{
    padding: 10px;
    margin: 10px;
    width:100%;
    font-family: 'Montserrat', sans-serif;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #sign-up-form > button{
    padding: 10px;
    margin: 10px;
    width: 105%;
    background-color: #99cc33;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  #sign-up-form > button:hover{
    padding: 10px;
    margin: 10px;
    width: 105%;
    background-color: #003399;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 0.14s;
  }

  /* MAIL BOX PAGE */
  
  .mailbox-page {
    height: 100%;
    width: 100vw;
    clear: both;
  }
  .mailbox-sidebar{
    width: 20%;
    float: left;
    background-color: #99cc33;
    height: 100vh; 
  }
  .mailbox-content{
    width: webkit-fill-available;
    float: left;
    background-color:white;
    height: 100vh;
  }
  .mailbox-content .content{
    width: -webkit-fill-available;
    height: 100%;
  }

  /* SIDEBAR MENU */
  .sidebar-menu{
    width: -webkit-fill-available;
    background-color: bisque;
   
  }
  .sidebar-menu ul li{
    text-decoration: none;
    list-style: none;
    background-color: #99cc33;
    height: 4rem;
    line-height: 40px;
    padding-left: 6rem;
    padding-top: 1rem;
  }
  .sidebar-menu ul li:hover{
    text-decoration: none;
    list-style: none;
    background-color:#f9f9f9;
    height: 4rem;
    line-height: 40px;
    padding-left: 6rem;
    padding-top: 1rem;
    transition-property: background-color;
    transition-duration: 0.55s;
    cursor: pointer;
    /* transition-delay: 0.95s; */
    }
  .sidebar-menu ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    line-height: 20px;
  }
  .icons{
    float: left;
    padding-right:10px;
    padding-top: 11px;

  }
  /* COMPOSE PAGE */
  /* .compose-page{
    
  } */
  
  object{
    background-color:white;
    width: 74vw;
    height: 100vh;
    padding-left: 20px;
  }
  
.divRowBody{
  width: -webkit-fill-available;
  background-color: #dcfbbd;
}
.rowHead{
  display: block;
  width: -webkit-fill-available;
  
}

.colHead{
  background-color: #f9eeee;
  width: -webkit-fill-available;
  display: flex;
}
.colHead h4{
  flex: 1;
  width: -webkit-fill-available;
  float: left;
  padding: 20px 20px 20px 40px;
}

.rowBody{
  display: block;
  width: -webkit-fill-available;
}

.colBody{
  background-color: #dcfbbd;
  width: -webkit-fill-available;
  display: flex;
  cursor: pointer;
}
.colBody:hover{
  background-color: #cae6ad;
}
.colBody .col{
  flex: 1;
  width: -webkit-fill-available;
  float: left;
  padding: 20px 20px 20px 40px;
}
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .index-page {
    height: 100%;
    width: 100vw;
    clear: both;
  }
  header{
    width: 100vw;
    height: 30px;
    background-color: peru;
  }
  footer{
    width: 100vw;
    height: 30px;
    background-color: beige;
    float: left;
  }
  .index-page-image{
    width: 50%;
    float: left;
    background-color: aqua;
    height: 100vh;
    
  }
  .index-login-form{
    width: 50vw;
    float: left;
    /* background-color: blueviolet; */
    height: 100vh;
  }
   /* HEADER STYLE */
   header{
    height: 40px;
    background-color: #ddd;
    padding: 10px 40px 15px 40px;
    text-align: left;
  }
  .header-left{
    float: left;
  }
  .header-right{
    float: right;
    cursor: pointer;
    padding: 0px 10px 5px 10px;
  }
  .header-right:hover{
    background-color: #c01515;
  }

  .profile-pic{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    float: left;
  }
  .profile-name{
   padding: 12px 10px 14px 0px;
   float: left;

  }

  #labeltext{
    color: red;
    visibility: hidden;
  }
  #profile-menu{
    /* background-color: rosybrown; */
    width: 165px;
    height: 80px;
    cursor: pointer;
    position: fixed;
    top: 60px;
    right: 40px;
    color: #fff;
    display: none;
  }
 
  #profile-menu ul li{
    text-decoration: none;
    list-style: none;
    color: #fff;
    background-color: #003399;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    
  }
  #profile-menu ul li:hover{
    text-decoration: none;
    list-style: none;
    background-color:#f9f9f9;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    transition-property: background-color;
    transition-duration: 0.55s;
    color: #003399;
    /* transition-delay: 0.95s; */
    }
  
  #profile-menu ul li a{
    text-decoration: none;
    color:#fff;
  }

  footer{
    background-color: beige;
    float: left;
  }
  /* section{
    padding-top: 30px;
  } */

   /* INDEX/ LOGIN PAGE */
   .index-page {
    height: 100vh;
    width: 100vw;
    clear: both;
    background-image: url('../img/bg-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
  }

  .index-login-form{
    width: 100vw;
  }


  #login-form{
    padding-top:10px;
    margin: auto;
    height: 400px;
    width: 35vw;
    
  }
  #login-form >
  input[type='email'],
  input[type='password']{
    padding: 10px;
    margin: 10px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  #login-form > input[type='submit']{
    padding: 10px;
    margin: 10px;
    width: 105%;
    background-color: #99cc33;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 0.14s;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #login-form > input[type='submit']:hover{
    padding: 10px;
    margin: 10px;
    width: 105%;
    background-color: #003399;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 0.14s;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* SIGN UP PAGE  */
  .sign-up-page{
    width: 100vw;
    float: left;
    background-color: white;
  }

  #sign-up-form{
      padding-top:10px;
      margin: auto;
      height: 400px;
      width: 400px;
  }
  #sign-up-form >
  input[type='email'],
  input[type='password'],
  input[type='text'],
  button{
    padding: 10px;
    margin: 10px;
    width: 400px;
    font-family: 'Montserrat', sans-serif;
  }

  #sign-up-form > button{
    padding: 10px;
    margin: 10px;
    width: 420px;
    background-color: #99cc33;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

  /* MAIL BOX PAGE */
  
  .mailbox-page {
    height: 100%;
    width: 100vw;
    clear: both;
  }
  .mailbox-sidebar{
    width: 20%;
    float: left;
    background-color: #99cc33;
    height: 100vh; 
  }
  .mailbox-content{
    width: 75vw;
    float: left;
    background-color:#fff;
    height: 100vh;
  }
  
  .mailbox-content .content{
    width: -webkit-fill-available;
    height: 100%;
  }

  /* SIDEBAR MENU */
  .sidebar-menu{
    width: -webkit-fill-available;
    background-color: bisque;
   
  }
  .sidebar-menu ul li{
    text-decoration: none;
    list-style: none;
    background-color: #99cc33;
    height: 4rem;
    line-height: 40px;
    padding-left: 4rem;
    padding-top: 1rem;
  }
  .sidebar-menu ul li:hover{
    text-decoration: none;
    list-style: none;
    background-color:#f9f9f9;
    height: 4rem;
    line-height: 40px;
    padding-left: 4rem;
    padding-top: 1rem;
    transition-property: background-color;
    transition-duration: 0.55s;
    cursor: pointer;
    /* transition-delay: 0.95s; */
    }
  .sidebar-menu ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    line-height: 20px;
  }
  .icons{
    float: left;
    padding-right:10px;
    padding-top: 11px;

  }
  /* COMPOSE PAGE */
  /* .compose-page{
    
  } */
  
  object{
    background-color:white;
    width: 80vw;
    height: 100vh;
    padding-left: 60px;
  }
  .divRowBody{
    width: -webkit-fill-available;
    background-color: aqua;
  }
  .rowHead{
    display: block;
    width: -webkit-fill-available;
    
  }
  
  .colHead{
    background-color: #f9eeee;
    width: -webkit-fill-available;
    display: flex;
  }
  .colHead h4{
    flex: 1;
    width: -webkit-fill-available;
    float: left;
    padding: 20px 20px 20px 40px;
  }
  
  .rowBody{
    display: block;
    width: -webkit-fill-available;
  }
  
  .colBody{
    background-color: #dcfbbd;
    width: -webkit-fill-available;
    display: flex;
    cursor: pointer;
  }
  .colBody:hover{
    background-color: #cae6ad;
  }
  .colBody .col{
    flex: 1;
    width: -webkit-fill-available;
    float: left;
    padding: 20px 20px 20px 40px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .index-page {
    height: 100%;
    width: 100vw;
    clear: both;
  }
  header{
    width: 100vw;
    height: 30px;
    background-color: peru;
  }
  footer{
    width: 100vw;
    height: 30px;
    background-color: beige;
    float: left;
  }
  .index-page-image{
    width: 50%;
    float: left;
    background-color: aqua;
    height: 100vh;
    
  }
  .index-login-form{
    width: 50vw;
    float: left;
    /* background-color: blueviolet; */
    height: 100vh;
  }
   /* HEADER STYLE */
   header{
    height: 40px;
    background-color: #ddd;
    padding: 10px 0px 15px 0px;
    text-align: left;
  }
  .header-left{
    float: left;
  }
  .header-right{
    float: right;
    cursor: pointer;
    padding: 0px 10px 5px 10px;
  }
  .header-right:hover{
    background-color: #f0f0f0;
  }

  .profile-pic{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    float: left;
  }
  .profile-name{
   padding: 12px 10px 14px 0px;
   float: left;

  }

  #labeltext{
    color: red;
    visibility: hidden;
  }

  #profile-menu{
    /* background-color: rosybrown; */
    width: 165px;
    height: 80px;
    cursor: pointer;
    position: fixed;
    top: 60px;
    right: 0px;
    color: #fff;
    display: none;
  }
 
  #profile-menu ul li{
    text-decoration: none;
    list-style: none;
    color: #fff;
    background-color: #003399;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    
  }
  #profile-menu ul li:hover{
    text-decoration: none;
    list-style: none;
    background-color:#f9f9f9;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    transition-property: background-color;
    transition-duration: 0.55s;
    color: #003399;
    /* transition-delay: 0.95s; */
    }
  
  #profile-menu ul li a{
    text-decoration: none;
    color:#fff;
  }

  footer{
    background-color: beige;
    float: left;
  }
  /* section{
    padding-top: 30px;
  } */

   /* INDEX/ LOGIN PAGE */
   .index-page {
    height: 100vh;
    width: 100vw;
    clear: both;
    background-image: url('../img/bg-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
  }

  .index-login-form{
    width: 100vw;
  }


  #login-form{
    padding-top:10px;
    margin: auto;
    height: 400px;
    width: 50vw;
    
  }
  #login-form >
  input[type='email'],
  input[type='password']{
    padding: 10px;
    margin: 10px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #login-form > input[type='submit']{
    padding: 10px;
    margin: 10px;
    width: 100%;
    background-color: #99cc33;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 0.14s;
  }
  #login-form > input[type='submit']:hover{
    padding: 10px;
    margin: 10px;
    width: 100%;
    background-color: #003399;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 0.14s;
  }

  /* SIGN UP PAGE  */
  .sign-up-page{
    width: 100vw;
  }

  #sign-up-form{
      padding-top:10px;
      margin: auto;
      height: 400px;
      width: 40vw;
  }
  #sign-up-form >
  input[type='email'],
  input[type='password'],
  input[type='text'],
  button{
    padding: 10px;
    margin: 10px;
    width:100%;
    font-family: 'Montserrat', sans-serif;
  }

  #sign-up-form > button{
    padding: 10px;
    margin: 10px;
    width: 100%;
    background-color: #99cc33;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

  /* MAIL BOX PAGE */
  
  .mailbox-page {
    height: 100%;
    width: 100vw;
    clear: both;
  }
  .mailbox-sidebar{
    width: 20%;
    float: left;
    background-color: #99cc33;
    height: 100vh; 
  }
  .mailbox-content{
    width: 75vw;
    float: left;
    background-color:white;
    height: 100vh;
  }
 
  .mailbox-content .content{
    width: -webkit-fill-available;
    height: 100%;
  }

  /* SIDEBAR MENU */
  .sidebar-menu{
    width: -webkit-fill-available;
    background-color: bisque;
   
  }
  .sidebar-menu ul li{
    text-decoration: none;
    list-style: none;
    background-color: #99cc33;
    height: 4rem;
    line-height: 40px;
    padding-left: 2rem;
    padding-top: 1rem;
  }
  .sidebar-menu ul li:hover{
    text-decoration: none;
    list-style: none;
    background-color:#f9f9f9;
    height: 4rem;
    line-height: 40px;
    padding-left: 2rem;
    padding-top: 1rem;
    transition-property: background-color;
    transition-duration: 0.55s;
    cursor: pointer;
    /* transition-delay: 0.95s; */
    }
  .sidebar-menu ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    line-height: 20px;
  }
  .icons{
    float: left;
    padding-right:10px;
    padding-top: 11px;

  }
  /* COMPOSE PAGE */
  /* .compose-page{
    
  } */
  
  object{
    background-color:white;
    width: -webkit-fill-available;
    height: 100vh;
    padding-left: 60px;
  }
  .divRowBody{
    width: -webkit-fill-available;
    background-color: aqua;
  }
  .rowHead{
    display: block;
    width: -webkit-fill-available;
    
  }
  
  .colHead{
    background-color: #f9eeee;
    width: -webkit-fill-available;
    display: flex;
  }
  .colHead h4{
    flex: 1;
    width: -webkit-fill-available;
    float: left;
    padding: 20px 20px 20px 40px;
  }
  
  .rowBody{
    display: block;
    width: -webkit-fill-available;
  }
  
  .colBody{
    background-color: #dcfbbd;
    width: -webkit-fill-available;
    display: flex;
    cursor: pointer;
  }
  .colBody:hover{
    background-color: #cae6ad;
  }
  .colBody .col{
    flex: 1;
    width: -webkit-fill-available;
    float: left;
    padding: 20px 20px 20px 40px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  header{
    width: 100vw;
    height: 30px;
    background-color: peru;
  }
  footer{
    width: 100vw;
    height: 30px;
    background-color: beige;
    float: left;
  }
  /* HEADER STYLE */
  header{
    height: 50px;
    background-color: #ddd;
    padding: 2px 5px 5px 5px;
    /* text-align: left; */
  }
  .header-left{
    text-align: center;
  }
  .header-left img{
    margin-top: 4px;
    width: 170px;
    height: 35px;
    
  }
  .header-right{
    display: none;
  }
  .header-right-m{
    display: block;
    margin-bottom: 50px;
    padding-left: 10px;
  }
  .header-right:hover{
    background-color: #f0f0f0;
  }

  .profile-pic-m{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    float: left;
  }
  .profile-name-m{
   padding: 12px 10px 14px 10px;
   float: left;
   color: white;

  }

  #labeltext{
    color: red;
    visibility: hidden;
  }
  #profile-menu{
    /* background-color: rosybrown; */
    width: 165px;
    height: 80px;
    cursor: pointer;
    position: fixed;
    top: 60px;
    right: 0px;
    color: #fff;
    display: none;
  }
 
  #profile-menu ul li{
    text-decoration: none;
    list-style: none;
    color: #fff;
    background-color: #003399;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    
  }
  #profile-menu ul li:hover{
    text-decoration: none;
    list-style: none;
    background-color:#f9f9f9;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    transition-property: background-color;
    transition-duration: 0.55s;
    color: #003399;
    /* transition-delay: 0.95s; */
    }
  
  #profile-menu ul li a{
    text-decoration: none;
    color:#fff;
  }

  footer{
    background-color: beige;
    float: left;
  }
  /* section{
    padding-top: 30px;
  } */

   /* INDEX/ LOGIN PAGE */
   .index-page {
    /* height: 100vh; */
    width: 100vw;
    clear: both;
    background-image: url('../img/bg-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }

  /* .index-login-form{
    width: 100vw;
  } */


  #login-form{
    padding-top:10px;
    margin: auto;
    height: 400px;
    width: 100vw;
    
  }
  #login-form >
  input[type='email'],
  input[type='password']{
    padding: 10px;
    margin: 10px;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #login-form >
  input[type='submit']{
    padding: 10px;
    margin: 10px;
    width: 93%;
    background-color: #99cc33;
    font-family:3 'Montserrat', sans-serif;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #login-form > input[type='submit']:hover{
    padding: 10px;
    margin: 10px;
    width: 93%;
    background-color: #003399;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 0.14s;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
/* SIGN UP PAGE  */
.sign-up-page{
  width: 100vw;
}

#sign-up-form{
    padding-top:10px;
    /* margin: auto; */
    height: 400px;
    width: 100vw;
}
#sign-up-form >
input[type='email'],
input[type='password'],
input[type='text']{
  padding: 10px;
  margin: 10px;
  width: 90%;
  font-family: 'Montserrat', sans-serif;
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sign-up-form > button{
  padding: 10px;
  margin: 10px;
  width: 95%;
  background-color: #99cc33;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#sign-up-form > button:hover{
  padding: 10px;
  margin: 10px;
  width: 95%;
  background-color: #003399;
  color: white;
  font-family: 'Montserrat', sans-serif;
  transition-property: background-color;
  transition-duration: 1s;
  transition-delay: 0.14s;
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


  /* MAIL BOX PAGE */
  
  .mailbox-page {
    height: 100%;
    width: 100vw;
    clear: both;
  }
  .mailbox-sidebar{
    width: 20%;
    float: left;
    background-color: #99cc33;
    height: 100vh; 
  }
  .mailbox-content{
    width: 75vw;
    float: left;
    background-color:white;
    height: 100vh;
  }
  .mailbox-content .content {
    display: none;
  }
  .mailbox-content .content{
    width: -webkit-fill-available;
    height: 100%;
  }

  /* SIDEBAR MENU */
  .sidebar-menu{
    width: -webkit-fill-available;
    background-color: bisque;
   
  }
  .sidebar-menu ul li{
    text-decoration: none;
    list-style: none;
    background-color: #99cc33;
    height: 4rem;
    line-height: 40px;
    padding-left: 2rem;
    padding-top: 1rem;
  }
  .sidebar-menu ul li:hover{
    text-decoration: none;
    list-style: none;
    background-color:#f9f9f9;
    height: 4rem;
    line-height: 40px;
    padding-left: 2rem;
    padding-top: 1rem;
    transition-property: background-color;
    transition-duration: 0.55s;
    cursor: pointer;
    /* transition-delay: 0.95s; */
    }
  .sidebar-menu ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    line-height: 20px;
  }
  .icons{
    float: left;
    padding-right:10px;
    padding-top: 11px;

  }
  /* COMPOSE PAGE */
  /* .compose-page{
    
  } */
  
  object{
    background-color:white;
    width: -webkit-fill-available;
    height: 100vh;
    padding-left: 60px;
  }
  .sidenav {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #629006; 
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s; 
    display: block;
  }
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  display: inline;
}

#menu{
  float: left;
  display: block;
}
.divRowBody{
  width: -webkit-fill-available;
  background-color: aqua;
}
.rowHead{
  display: block;
  width: -webkit-fill-available;
  
}

.colHead{
  background-color: #f9eeee;
  width: -webkit-fill-available;
  display: flex;
}
.colHead h4{
  flex: 1;
  width: -webkit-fill-available;
  float: left;
  padding: 20px 20px 20px 40px;
}

.rowBody{
  display: block;
  width: -webkit-fill-available;
}

.colBody{
  background-color: #dcfbbd;
  width: -webkit-fill-available;
  display: flex;
  cursor: pointer;
}
.colBody:hover{
  background-color: #cae6ad;
}
.colBody .col{
  flex: 1;
  width: -webkit-fill-available;
  float: left;
  padding: 20px 20px 20px 40px;
}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .index-page {
    height: 100%;
    width: 100vw;
    clear: both;
  }
  footer{
    width: 100vw;
    height: 30px;
    background-color: beige;
    float: left;
  }
  /* HEADER STYLE */
  header{
    height: 50px;
    background-color: #ddd;
    padding: 2px 5px 5px 5px;
    /* text-align: left; */
  }
  .header-left{
    text-align: center;
  }
  .header-left img{
    margin-top: 4px;
    width: 170px;
    height: 35px;
    
  }
  .header-right{
    display: none;
  }
  .header-right-m{
    display: block;
    margin-bottom: 50px;
    padding-left: 10px;
  }
  .header-right:hover{
    background-color: #f0f0f0;
  }

  .profile-pic-m{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    float: left;
  }
  .profile-name-m{
   padding: 12px 10px 14px 10px;
   float: left;
   color: white;

  }

  #labeltext{
    color: red;
    visibility: hidden;
  }

  #profile-menu{
    background-color: rosybrown;
    width: 170px;
    height: 80px;
    cursor: pointer;
    position: fixed;
    top: 50px; 
    right: 8px;
    display: none;
  }
 
  #profile-menu ul li{
    text-decoration: none;
    list-style: none;
    background-color: aqua;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
  }
  #profile-menu ul li:hover{
    text-decoration: none;
    list-style: none;
    background-color:#f9f9f9;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    transition-property: background-color;
    transition-duration: 0.55s;
    /* transition-delay: 0.95s; */
    }
  
  #profile-menu ul li a{
    text-decoration: none;
  }

  footer{
    background-color: beige;
    float: left;
  }
   /* INDEX/ LOGIN PAGE */
   .index-page {
    /* height: 100vh; */
    width: 100vw;
    clear: both;
    background-image: url('../img/bg-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }

  /* .index-login-form{
    width: 100vw;
  } */


  #login-form{
    padding-top:10px;
    margin: auto;
    height: 400px;
    width: 100vw;
    
  }
  #login-form >
  input[type='email'],
  input[type='password']{
    padding: 10px;
    margin: 10px;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #login-form >
  input[type='submit']{
    padding: 10px;
    margin: 10px;
    width: 93%;
    background-color: #99cc33;
    font-family:3 'Montserrat', sans-serif;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #login-form > input[type='submit']:hover{
    padding: 10px;
    margin: 10px;
    width: 93%;
    background-color: #003399;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 0.14s;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
/* SIGN UP PAGE  */
.sign-up-page{
  width: 100vw;
}

#sign-up-form{
    padding-top:10px;
    /* margin: auto; */
    height: 400px;
    width: 100vw;
}
#sign-up-form >
input[type='email'],
input[type='password'],
input[type='text']{
  padding: 10px;
  margin: 10px;
  width: 90%;
  font-family: 'Montserrat', sans-serif;
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sign-up-form > button{
  padding: 10px;
  margin: 10px;
  width: 95%;
  background-color: #99cc33;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#sign-up-form > button:hover{
  padding: 10px;
  margin: 10px;
  width: 95%;
  background-color: #003399;
  color: white;
  font-family: 'Montserrat', sans-serif;
  transition-property: background-color;
  transition-duration: 1s;
  transition-delay: 0.14s;
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

  /* MAIL BOX PAGE */
  
  .mailbox-page {
    height: 100%;
    width: 100vw;
    clear: both;
  }
  .mailbox-sidebar{
    display: none;
  }
  .mailbox-content{
    width: 75vw;
    float: left;
    background-color:white;
    height: 100vh;
  }
  .mailbox-content .content {
    display: none;
  }
  .mailbox-content .content{
    width: -webkit-fill-available;
    height: 100%;
  }

 /* SIDEBAR MENU */
 .sidebar-menu{
  visibility: hidden;
  width: -webkit-fill-available;
  background-color: bisque;
  display: none;
 }
  .sidebar-menu ul li{
    text-decoration: none;
    list-style: none;
    background-color: #99cc33;
    height: 4rem;
    line-height: 40px;
    padding-left: 6rem;
    padding-top: 1rem;
  }
  .sidebar-menu ul li:hover{
    text-decoration: none;
    list-style: none;
    background-color:#f9f9f9;
    height: 4rem;
    line-height: 40px;
    padding-left: 6rem;
    padding-top: 1rem;
    transition-property: background-color;
    transition-duration: 0.55s;
    cursor: pointer;
    /* transition-delay: 0.95s; */
    }
  .sidebar-menu ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    line-height: 20px;
  }
  .icons{
    float: left;
    padding-right:10px;
    padding-top: 11px;

  }
  /* COMPOSE PAGE */
  /* .compose-page{
    
  } */
  
  object{
    background-color:white;
    width: -webkit-fill-available;
    height: 100vh;
    padding-left: 60px;
  } 
  .sidenav {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #629006; 
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s; 
    display: block;
  }
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  display: inline;
}

#menu{
  float: left;
  display: block;
}
.divRowBody{
  width: -webkit-fill-available;
  background-color: aqua;
}
.rowHead{
  display: block;
  width: -webkit-fill-available;
  
}

.colHead{
  background-color: #f9eeee;
  width: -webkit-fill-available;
  display: flex;
}
.colHead h4{
  flex: 1;
  width: -webkit-fill-available;
  float: left;
  padding: 20px 20px 20px 40px;
}

.rowBody{
  display: block;
  width: -webkit-fill-available;
}

.colBody{
  background-color: #dcfbbd;
  width: -webkit-fill-available;
  display: flex;
  cursor: pointer;
}
.colBody:hover{
  background-color: #cae6ad;
}
.colBody .col{
  flex: 1;
  width: -webkit-fill-available;
  float: left;
  padding: 20px 20px 20px 40px;
}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 200px) and (max-width: 480px) {
  .index-page {
    height: 100%;
    width: 100vw;
    clear: both;
  }
  footer{
    width: 100vw;
    height: 30px;
    background-color: beige;
    float: left;
  }
  .index-page-image{
    display: none;
  }
  .index-login-form{
    width: 100vw;
    /* float: left; */
    /* background-color: blueviolet; */
    height: 100vh;
  }
   /* HEADER STYLE */
   header{
    height: 50px;
    background-color: #ddd;
    padding: 2px 5px 5px 5px;
    /* text-align: left; */
  }
  .header-left{
    text-align: center;
  }
  .header-left img{
    margin-top: 4px;
    width: 170px;
    height: 35px;
    
  }
  .header-right{
    display: none;
  }
  .header-right-m{
    display: block;
    margin-bottom: 50px;
    padding-left: 10px;
  }
  .header-right:hover{
    background-color: #f0f0f0;
  }

  .profile-pic-m{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    float: left;
  }
  .profile-name-m{
   padding: 12px 10px 14px 10px;
   float: left;
   color: white;

  }

  #labeltext{
    color: red;
    visibility: hidden;
  }

  #profile-menu{
    background-color: rosybrown;
    width: 170px;
    height: 80px;
    cursor: pointer;
    position: fixed;
    top: 55px; 
    right: 6px;
    display: none;
  }
 
  #profile-menu ul li{
    text-decoration: none;
    list-style: none;
    background-color: #99cc33;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
  }
  #profile-menu ul li:hover{
    text-decoration: none;
    list-style: none;
    background-color:#f9f9f9;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    transition-property: background-color;
    transition-duration: 0.55s;
    /* transition-delay: 0.95s; */
    }
  
  #profile-menu ul li a{
    text-decoration: none;
  }

  footer{
    background-color: beige;
    float: left;
  }
  /* section{
    padding-top: 30px;
  } */

   /* INDEX/ LOGIN PAGE */
   .index-page {
    /* height: 100vh; */
    width: 100vw;
    clear: both;
    background-image: url('../img/bg-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }

  /* .index-login-form{
    width: 100vw;
  } */


  #login-form{
    padding-top:10px;
    margin: auto;
    height: 400px;
    width: 100vw;
    
  }
  #login-form >
  input[type='email'],
  input[type='password']{
    padding: 10px;
    margin: 10px;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #login-form >
  input[type='submit']{
    padding: 10px;
    margin: 10px;
    width: 95%;
    background-color: #99cc33;
    font-family: 'Montserrat', sans-serif;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #login-form > input[type='submit']:hover{
    padding: 10px;
    margin: 10px;
    width: 95%;
    background-color: #003399;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 0.14s;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* SIGN UP PAGE  */
  .sign-up-page{
    width: 100vw;
  }

  #sign-up-form{
      padding-top:10px;
      /* margin: auto; */
      height: 400px;
      width: 100vw;
  }
  #sign-up-form >
  input[type='email'],
  input[type='password'],
  input[type='text']{
    padding: 10px;
    margin: 10px;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #sign-up-form > button{
    padding: 10px;
    margin: 10px;
    width: 95%;
    background-color: #99cc33;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #sign-up-form > button:hover{
    padding: 10px;
    margin: 10px;
    width: 95%;
    background-color: #003399;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 0.14s;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }



  /* MAIL BOX PAGE */
  
  .mailbox-page {
    height: 100%;
    width: 100vw;
    clear: both;
  }
  .mailbox-sidebar{
    display: none;
  }
  .mailbox-content{
    width: -webkit-fill-available;
    float: left;
    background-color:white;
    height: 100vh;
  }
 
  .mailbox-content .content{
    width: -webkit-fill-available;
    height: 100%;
  }

  /* SIDEBAR MENU */
  .sidebar-menu{
    visibility: hidden;
    width: -webkit-fill-available;
    background-color: bisque;
    display: none;
   
  }
  .sidebar-menu ul li{
    text-decoration: none;
    list-style: none;
    background-color: #99cc33;
    height: 4rem;
    line-height: 40px;
    padding-left: 6rem;
    padding-top: 1rem;
  }
  .sidebar-menu ul li:hover{
    text-decoration: none;
    list-style: none;
    background-color:#f9f9f9;
    height: 4rem;
    line-height: 40px;
    padding-left: 6rem;
    padding-top: 1rem;
    transition-property: background-color;
    transition-duration: 0.55s;
    cursor: pointer;
    /* transition-delay: 0.95s; */
    }
  .sidebar-menu ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    line-height: 20px;
  }
  .icons{
    float: left;
    padding-right:10px;
    padding-top: 11px;

  }
  /* COMPOSE PAGE */
  /* .compose-page{
    
  } */
  
  object{
    background-color:white;
    width: -webkit-fill-available;
    height: 100vh;
    padding-left: 0px;
  }
  .sidenav {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #629006; 
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s; 
    display: block;
  }
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  display: inline;
}

#menu{
  float: left;
  display: block;
}

.divRowBody{
  width: -webkit-fill-available;
  background-color: aqua;
}
.rowHead{
  display: none;
  
}

.rowBody{
}

.colBody{
  background-color: #dcfbbd;
  cursor: pointer;
  padding: 6px 6px 6px 10px;
  border-bottom: solid #ccc 1px;
  
}
.colBody:hover{
  background-color: #cae6ad;
}
.colBody .col{
  padding-bottom: 5px;
  font-weight:bold;
  font-size: 13px;
}
.hide{
  display: none;
}

}