@import url('https://fonts.googleapis.com/css?family=Montserrat');

@media (min-width: 200px) and (max-width: 850px) {
  .container-1{
    display: none;
    flex-direction: row;
  }
  .container-2{
    display: none;
    align-items: stretch;
  }
  .container-mobile{
    display: flex;
    flex-direction: column
  }
  .container-mobile div{
    padding:10px 10px 5px 10px;
  }
  .box-8{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
  }
  .box-8 h1{
    flex: 2;
    text-align: center;
  }
  .box-8 .fa-bars{
    flex: 2;
    font-size: 25px;
    padding-left: 10px;
    color: #528eff;
    cursor: pointer;
  }
  .box-8 .fa-search, .box-8 .fa-times{
    flex: 2;
    font-size: 25px;
    padding-right: 10px;
    color: #b0b3b6;
    cursor: pointer;
  }
  .box-9{
    flex: 1;
  }
  .box-9 #searchMobile{
    visibility: hidden;
    padding: 0px !important;
    align-content: center;
    cursor: pointer;
  }
  
   .box-9 input[type='text']{
    width: 95%;
    border: 0px;
    color: #b0b3b6;
    background-color: #e9ebef;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    padding: 7px;    
  }
  .box-9 img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: 20px;
  }
  .box-9 .record{
    padding-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    border-bottom: 1px #e7ecf0 solid;
    box-shadow: -1px 0 10px 1px #e7ecf0;
  }
  .box-9 .pic{
    flex: 1;
    padding: 0px;
  }
  .box-9 .record-inner{
    flex: 12;
    font-size: 12px;
  }
  .box-9 .record:hover{
    padding-top: 10px;
    box-shadow: -10px 0 30px 1px #e7ecf0;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.35s;
  }
  .box-9 .record h3{
    color: #65686a;
    margin: 5px 0px 5px 0px;
  }
  .box-9 .record h4{
    color: #b0b3b6;
    margin: 5px 0px 5px 0px;
  }
  .box-9 .fas{
    color: #528eff;
    font-size: 12px;
  }
  .box-9 .record-hover{
    padding-top: 20px;
    box-shadow: -10px 0 30px 1px #e7ecf0;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
  }
  .box-9 .record-hover h4{
    color: #b0b3b6;
    margin: 5px 0px 5px 0px;
  }
  .box-9 #composeNew{
    color: #02c386;
    font-size: 50px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    box-shadow: -5px 0 30px 1px #e7ecf0;
    cursor: pointer;
  }
  
  .box-10 {
    background-color: #f4f7f9;
    width: 0;
    position: fixed;
    z-index: 99 !important;
    top: 0; 
    left: 0;
    overflow-x: hidden;
    padding-top: 60px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    display: block;
    height: 100%;
    transition-duration: 0.55s;
    box-shadow: -10px 1px 30px 1px #ccc;
  }
  .box-10 ul{
    background-color: #f4f7f9;
  }
  .box-10 ul li.link{
    text-decoration: none;
    list-style: none;
    color: #97a5b0;
    background-color: #f4f7f9;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .box-10 ul li.link a{
    text-decoration: none;
    color: #a3adbb;
  }
  .box-10 ul li:hover{
    text-decoration: none;
    list-style: none;
    color: black;
    background-color: #f4f7f9;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.95s;
  }
  .box-10 ul li.active{
    list-style: none;
    color: #000;
    background-color: #f4f7f9;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .box-10 ul li .notification{
    color: #528eff;
    font-size: 14px;
    font-weight: bold;
  }

.box-10 .closebtn {
  position: absolute;
  color: #b0b3b6;
  top: 0;
  right: 25px;
  font-size: 26px;
  margin-left: 50px;
  display: inline;
  padding-top: 30px;
}
.box-12 .box-11{
  margin-left: 15px;
}

.box-12 .box-11 .fas{
  margin: 0px 30px 10px 0px;
  color: #a3adbb;
  cursor: pointer;
  transition-duration: 0.55s;
}
.box-12 .box-11 .fas:hover{
  margin: 0px 50px 10px 0px;
  color: #999;
  cursor: pointer;
  transition-duration: 0.55s;
}
.box-12 {
  display: flex;
  background-color: #f4f7f9;
  width: 0;
  position: fixed;
  z-index: 99 !important;
  top: 0; 
  left: 0;
  overflow-y: hidden;
  padding-top: 20px !important;
  padding-right: 0px !important;
  padding-left: px !important;
  display: block;
  height: 100%;
  box-shadow: -10px 1px 30px 1px #ccc;
  font-size: 15px;
}
.box-12 .body{
  margin-right: 15px;
}
.box-12 .body p{
  margin-bottom: 10px;
}
}

@media (min-width:481px){

  .container-1{
    display: flex;
    flex-direction: row;
  }
  .container-2{
    display: flex;
    align-items: stretch;
  }
  .container-mobile{
    display: flex;
    align-items: stretch;
  }
  .container-mobile{
    display: none;
    flex-direction: column
  }
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #f4f7f9;
  font-family: 'Montserrat', sans-serif;
}

.container-1 div{
  flex-direction: column;
  padding:20px 20px 20px 20px;
}

.container-2 div{
  flex-direction: column;
  padding:20px 0px 20px 20px;
}

.box-1 {
  flex: 1;
  background-color: #02c386;
  color: #fff;
  cursor: pointer;
  box-shadow: -10px 1px 30px 1px #ccc;
}
.box-1:hover {
  flex: 1;
  background-color: #09b57e;
  color: #fff;
  cursor: pointer;
  box-shadow: -10px 1px 30px 1px #ccc;
  transition-duration: 0.55s;
}
.box-1 .fas{
  margin-right: 5px;
  font-size: 15px;
  
}
.box-1 button{
  background-color: transparent;
  border: 0px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.box-1 button a{
  text-decoration: none;
  color: #fff;
}


.box-2{
  flex: 2;
  cursor: pointer;
}
.box-2 span{
  color:#b5bfc8;
  font-weight: bold;
}
.box-2 p{
  color: #abafb2;
  font-weight: bold;
}
.box-2 .fas{
  margin-bottom: 3px;
  
}
.box-3{
  flex: 4;
}
.box-3 span{
  margin-left: 60px;
}
.box-3 input[type='text']{
  border: 0px;
  color: #b0b3b6;
  background-color: #f4f7f9;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.box-3 .fas{
  margin: 0px 50px 10px 0px;
  color: #a3adbb;
  cursor: pointer;
  transition-duration: 0.55s;
}
.box-3 .fas:hover{
  margin: 0px 50px 10px 0px;
  color: #999;
  cursor: pointer;
  transition-duration: 0.55s;
}

.box-4 {
  flex: 2;
}
.box-4 ul li.link{
  text-decoration: none;
  list-style: none;
  color: #97a5b0;
  background-color: #f4f7f9;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  font-weight: bold;
  cursor: pointer;
}
.box-4 ul li.link a{
  text-decoration: none;
  color: #a3adbb;
}
.box-4 ul li:hover{
  text-decoration: none;
  list-style: none;
  color: black;
  background-color: #f4f7f9;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.95s;
}
.box-4 ul li.active{
  list-style: none;
  color: #000;
  background-color: #f4f7f9;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  font-weight: bold;
  cursor: pointer;
}
.box-4 ul li .notification{
  color: #528eff;
  font-size: 14px;
  font-weight: bold;
}
.box-5{
  flex: 4;
}
.box-5 .record{
  padding-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.box-5 .record:hover{
  padding-top: 20px;
  box-shadow: -10px 0 30px 1px #e7ecf0;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.35s;
}
.box-5 .record h3{
  color: #65686a;
  margin: 5px 0px 5px 0px;
}
.box-5 .record h4{
  color: #b0b3b6;
  margin: 5px 0px 5px 0px;
}
.box-5 .fas{
  color: #528eff;
  font-size: 12px;
}
.box-5 .record-hover{
  padding-top: 20px;
  box-shadow: -10px 0 30px 1px #e7ecf0;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.box-5 .record-hover h4{
  color: #b0b3b6;
  margin: 5px 0px 5px 0px;
}
.box-6{
  flex: 1;
  background-color: #fff;
  visibility: hidden;
}
.box-6 img{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: 50px;
  margin-top: 20px;
}
.box-7{
  flex: 7;
  background-color: #fff;
  visibility: hidden;
}
.box-7 p{
  margin: 20px; 
}
.box-7 .hr {
  border-top: 1px solid #e9eef2;
}
.box-7 button{
  background-color: #02c386;
  color: #fff;
  cursor: pointer;
  border: 0px;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  box-shadow: -10px 1px 30px 1px #ccc;
}
.box-7 button:hover {
  background-color: #09b57e;
  color: #fff;
  cursor: pointer;
  border: 0px;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  box-shadow: -10px 1px 30px 1px #ccc;
  transition-duration: 0.55s;
}

.box-7 .reply-icons .fas{
  margin: 0px 30px 10px 0px;
  color: #a3adbb;
  cursor: pointer;
}
.box-7 .reply-icons .fas{
  margin: 0px 30px 10px 0px;
  color: #999;
  cursor: pointer;
  transition-duration: 0.55s;
}